
.App {
  margin-top:20px;
  margin-bottom:20px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.list-group-item {
  display: flex!important;
  justify-content: space-between;
}

.list-group-item .todo {
  flex: 0 0 70%;
}
.list-group-item .buttons {
  flex: 0 0 30%;
}
form {
  width:50%;
}
